<div class="">
    <h1 style="color: rgb(11, 11, 116);">{{title}}</h1>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Họ và Tên</label>
            <input ng-model="inputValue.name" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <p ng-if="checkedData.name==true" style="color: red;">Vui lòng nhập tên</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Năm sinh</label>
            <input ng-model="inputValue.date" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <p ng-if="checkedData.date==true" style="color: red;">Vui lòng năm sinh</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Giới tính</label>
            <div class="form-check">
                <input ng-model="inputValue.gender" value="1" class="form-check-input" type="radio"
                    name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Nam
                </label>
            </div>
            <div class="form-check">
                <input ng-model="inputValue.gender" value="2" class="form-check-input" type="radio"
                    name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Nữ
                </label>
            </div>
            <p ng-if="checkedData.gender==true" style="color: red;">Vui lòng chọn giới tính</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cấp Bậc</label>
            <select ng-model="inputValue.ranks" class="form-select" aria-label="Default select example">
                <option selected>Chọn Cấp Bậc</option>
                <option value="1">Cấp 1</option>
                <option value="2">Cấp 2</option>
                <option value="3">Cấp 3</option>
            </select>

            <p ng-if="checkedData.ranks==true" style="color: red;">Vui lòng chọn cấp bậc</p>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Số ngày làm</label>
            <input ng-model="inputValue.numberOfWorking" type="text" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            <p ng-if="checkedData.numberOfWorking==true" style="color: red;">Vui lòng nhập số ngày làm</p>
        </div>
        <button ng-click="save()" type="submit" class="btn btn-primary">Save </button>


    </form>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Giới tính</th>
                <th scope="col">Tuổi</th>
                <th scope="col">Thanh khoản</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ds in users">
                <th scope="row">{{ds.id}}</th>
                <td>{{ds.name}}</td>
                <td>{{ds.gender}}</td>
                <td>{{ds.age}}</td>
                <td>{{ds.money}}</td>
                <td>
                    <button class="btn btn-info" ng-click="onEdit(ds.id)">Sửa</button>
                    <button class="btn btn-danger" ng-click="onDelete(ds.id)">Xóa</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>