<link rel="stylesheet" href="../src/css/style.css">
<div>
    <h1 style="color: #166987;font-size: 36px;  font-family: DiavloLight, Arial, sans-serif;">{{title}}</h1>
    <div class="slideShow">
        <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="./src/image/VNA_WeekendSale_HeroBanner.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Check out best airfare deals!</h5>
                        <p>Find out more</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="./src/image/VNAcombofamily15Hero.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./src/image/top.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <h2 style="font-weight: 50;"
        class="fr-h2 fr-my-0  fr-text-left fr-font-size-6-x  fr-float-left  fr-1998964887 fr--577374426">Explore Our
        Most Popular Flights</h2>

    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_tp_ho_chi_minh_saigon_d3b91cdfa6.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hà Nội(HAN) đến TP.Hồ Chí Minh(SGN)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_hanoi_ba7693c643.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Hà Nội (HAN)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_da_nang_banner_22886e87cc_2_c65a071e7f.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Hà Nội (HAN)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_banner_phu_quoc_a03ff3f0a9_ea4c286d9f.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Phú Quốc (PQC)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_hai_phong_cat_ba_9bc3bdbb1d.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Phú Quốc (PQC)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_banner_phu_quoc_a03ff3f0a9_ea4c286d9f.png"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Phú Quốc (PQC)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_thanh_pho_da_lat_b2c24c14bd.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Phú Quốc (PQC)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://bav-ui.useleadr.com/uploads/medium_thanh_pho_da_lat_b2c24c14bd.jpg" class="card-img-top"
                alt="...">
            <div class="card-body">
                <h5 class="card-title">TP. Hồ Chí Minh (SGN)
                    đến Phú Quốc (PQC)</h5>
                <p class="card-text">Ngày đi: 10/4/2023</p>
                <a href="#" class="btn btn-primary">Đặt vé ngay</a>
            </div>
        </div>
    </div>

</div>