<link rel="stylesheet" href="../src/css/style.css">
<div>
    <h1 style="color: #166987;font-size: 36px;  font-family: DiavloLight, Arial, sans-serif;">{{title}}</h1>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN) to Phu Quoc (PQC)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)
                        to
                        Da Lat (DLI)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Nha Trang (CXR)
                        to
                        Ho Chi Minh City (SGN)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)
                        to
                        Quy Nhon (UIH)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)
                        to
                        Chu Lai (VCL)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card card-pa">
                <div class="card-body">
                    <h5 class="card-title">Ho Chi Minh City (SGN)to Nha Trang (CXR)</h5>
                    <p class="card-text">Depart: 27/03/2023 <br>
                        One-way/Economy</p>
                </div>
            </div>
        </div>
    </div>
</div>