<div>
    <h1 style="color: #166987;font-size: 36px;  font-family: DiavloLight, Arial, sans-serif;">{{title}}</h1>
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="https://www.vietnamairlines.com/~/media/Images/VNANew/Landingpage%20Mega%20Menu/Travel%20Information/travel-information_1.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">CHECK IN</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.vietnamairlines.com/~/media/Images/VNANew/Landingpage%20Mega%20Menu/Travel%20Information/travel-information_2.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">BAGGAGE</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.vietnamairlines.com/~/media/Images/VNANew/Landingpage%20Mega%20Menu/Travel%20Information/travel-information_3.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">SPECIAL SRVICE</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.vietnamairlines.com/~/media/Images/VNANew/Landingpage%20Mega%20Menu/Travel%20Information/travel-information_4.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">AIRPORT & TRANSIT</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.vietnamairlines.com/~/media/Images/VNANew/Landingpage%20Mega%20Menu/Travel%20Information/travel-information_5.jpg"
                class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">TRAVEL GUIDE</p>
            </div>
        </div>
    </div>

</div>